/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.heroCode {
  overflow: auto;
  flex: auto;
  margin-top: 2rem;
  text-align: left;
}

.heroCode pre {
  margin: 0;
}

@media (min-width: 966px) {
  .heroContainer {
    display: flex;
    align-items: center;
  }

  .heroInfo {
    flex: none;
    margin-top: 0;
    margin-right: 6rem;
    width: 400px;
  }

  .heroCode {
    margin-top: 0;
  }
}

.heroInfo {
  text-align: left;
}

.buttons {
  margin: 2rem 0;
}

.buttons * + * {
  margin-top: 20px;
}

.buttons > * {
  width: 100%;
}

@media (min-width: 470px) {
  .buttons {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0;
  }

  .buttons * + * {
    margin-top: 0;
    margin-left: 20px;
  }
  
  .buttons > * {
    flex: 1;
  }
}

@media (min-width: 600px) and (max-width: 966px) {
  .buttons > * {
    width: 200px;
    flex: none;
  }
}

.getStarted {
  color: white !important;
}

.getStarted:hover {
  color: black !important;
}