/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.heroCode {
  flex: auto;
  margin-top: 40px;
  text-align: left;
}

@media (min-width: 966px) {
  .heroContainer {
    display: flex;
    align-items: center;
  }

  .heroInfo {
    flex: none;
    margin-top: 0;
    margin-right: 40px;
    width: 400px;
  }
}

.heroInfo {
  text-align: left;
}

.buttons {
  display: flex;
  justify-content: flex-start;
}

.buttons * + * {
  margin-left: 20px;
}

.getStarted {
  color: white !important;
}

.getStarted:hover {
  color: black !important;
}