/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-container-width-xl: var(--ifm-container-width);
  --ifm-navbar-item-padding-horizontal: 1rem;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

article {
  padding-top: 1rem;
  padding-left: 0.5rem;
}

a[target] svg {
  display: inline-block;
  margin-left: .6rem;
  opacity: .2;
}

.footer__links {
  margin-bottom: 0;
}

.footer__copyright {
  display: none;
}

[data-theme="light"] .shiki.nord {
  display: none;
}

[data-theme="dark"] .shiki.min-light {
  display: none;
}

body.custom-twoslash data-lsp::before {
  display: none !important;
}

data-lsp {
  cursor: help;
}

.custom-twoslash-tooltip {
  position: absolute;
  pointer-events: none;
  transform: translate(0, 2px);
  background-color: #3f3f3f;
  color: #ffffff;
  padding: 0px 12px;
  max-width: 600px;
  border-radius: 2px;
  font-size: 85%;
  white-space: pre-wrap;
  z-index: 10;
}

.custom-twoslash-tooltip div, .custom-twoslash-tooltip p {
  margin: 12px 0;
}

.custom-twoslash-description {
  font-family: var(--ifm-font-family-base);
}

.custom-twoslash-code {
  font-family: var(--ifm-font-family-monospace);
}
