:root {
  --ifm-color-primary: #62ad98;
  --ifm-color-primary-dark: [object Object];
  --ifm-color-primary-darker: [object Object];
  --ifm-color-primary-darkest: [object Object];
  --ifm-color-primary-light: [object Object];
  --ifm-color-primary-lighter: [object Object];
  --ifm-color-primary-lightest: [object Object];
  --ifm-code-font-size: 95%;
}